resources/xml-schema/rules-file-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">

	<xs:element name="cpilint">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="rules" type="rulesType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="rulesType">
		<xs:all>
			<xs:element name="cleartext-basic-auth-not-allowed" type="emptyElementType" minOccurs="0"/>
			<xs:element name="matching-process-direct-channels-required" type="emptyElementType" minOccurs="0"/>
			<xs:element name="multi-condition-type-routers-not-allowed" type="emptyElementType" minOccurs="0"/>
			<xs:element name="allowed-receiver-adapters" type="allowedReceiverAdaptersType" minOccurs="0"/>
			<xs:element name="disallowed-receiver-adapters" type="disallowedReceiverAdaptersType" minOccurs="0"/>
			<xs:element name="allowed-scripting-languages" type="allowedScriptingLanguagesType" minOccurs="0"/>
			<xs:element name="disallowed-scripting-languages" type="disallowedScriptingLanguagesType" minOccurs="0"/>
			<xs:element name="allowed-sender-adapters" type="allowedSenderAdaptersType" minOccurs="0"/>
			<xs:element name="disallowed-sender-adapters" type="disallowedSenderAdaptersType" minOccurs="0"/>
			<xs:element name="unencrypted-data-store-write-not-allowed" type="emptyElementType" minOccurs="0"/>
			<xs:element name="unencrypted-endpoints-not-allowed" type="emptyElementType" minOccurs="0"/>
			<xs:element name="allowed-xslt-versions" type="allowedXsltVersionsType" minOccurs="0"/>
			<xs:element name="disallowed-xslt-versions" type="disallowedXsltVersionsType" minOccurs="0"/>
			<xs:element name="client-cert-sender-channel-auth-not-allowed" type="emptyElementType" minOccurs="0"/>
			<xs:element name="csrf-protection-required" type="emptyElementType" minOccurs="0"/>
			<xs:element name="allowed-mapping-types" type="allowedMappingTypesType" minOccurs="0"/>
			<xs:element name="disallowed-mapping-types" type="disallowedMappingTypesType" minOccurs="0"/>
			<xs:element name="allowed-java-archives" type="allowedJavaArchivesType" minOccurs="0"/>
			<xs:element name="disallowed-java-archives" type="disallowedJavaArchivesType" minOccurs="0"/>
			<xs:element name="iflow-description-required" type="emptyElementType" minOccurs="0"/>
			<xs:element name="duplicate-resources-not-allowed" type="duplicateResourcesType" minOccurs="0"/>
			<xs:element name="naming" type="namingType" minOccurs="0" maxOccurs="unbounded"/> <!-- Unlike the other rules, the naming rule can occur multiple times. -->
		</xs:all>
		<!-- At least one rule should be present. -->
		<xs:assert test="count(*) gt 0"/>
		<!-- For the allow/disallow rules, only one of the variations must be present. -->
		<xs:assert test="not(allowed-receiver-adapters and disallowed-receiver-adapters)"/>
		<xs:assert test="not(allowed-scripting-languages and disallowed-scripting-languages)"/>
		<xs:assert test="not(allowed-sender-adapters and disallowed-sender-adapters)"/>
		<xs:assert test="not(allowed-xslt-versions and disallowed-xslt-versions)"/>
		<xs:assert test="not(allowed-mapping-types and disallowed-mapping-types)"/>
		<xs:assert test="not(allowed-java-archives and disallowed-java-archives)"/>
	</xs:complexType>

	<!-- General types -->

	<xs:complexType name="emptyElementType"/>

	<!-- Types for rule ReceiverAdapters -->

	<xs:simpleType name="receiverAdaptersType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="amqp"/>
			<xs:enumeration value="ariba"/>
			<xs:enumeration value="as2"/>
			<xs:enumeration value="as4"/>
			<xs:enumeration value="elster"/>
			<xs:enumeration value="facebook"/>
			<xs:enumeration value="ftp"/>
			<xs:enumeration value="odata"/>
			<xs:enumeration value="http"/>
			<xs:enumeration value="idoc"/>
			<xs:enumeration value="jdbc"/>
			<xs:enumeration value="jms"/>
			<xs:enumeration value="kafka"/>
			<xs:enumeration value="ldap"/>
			<xs:enumeration value="mail"/>
			<xs:enumeration value="odc"/>
			<xs:enumeration value="openconnectors"/>
			<xs:enumeration value="processdirect"/>
			<xs:enumeration value="rfc"/>
			<xs:enumeration value="sftp"/>
			<xs:enumeration value="soap"/>
			<xs:enumeration value="successfactors"/>
			<xs:enumeration value="twitter"/>
			<xs:enumeration value="xi"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="allowedReceiverAdaptersType">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="allow" type="receiverAdaptersType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="disallowedReceiverAdaptersType">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="disallow" type="receiverAdaptersType"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Types for rule ScriptingLanguages -->

	<xs:simpleType name="scriptingLanguagesType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="groovy"/>
			<xs:enumeration value="javascript"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="allowedScriptingLanguagesType">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="allow" type="scriptingLanguagesType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="disallowedScriptingLanguagesType">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="disallow" type="scriptingLanguagesType"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Types for rule SenderAdapters -->

	<xs:simpleType name="senderAdaptersType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="amqp"/>
			<xs:enumeration value="ariba"/>
			<xs:enumeration value="as2"/>
			<xs:enumeration value="as4"/>
			<xs:enumeration value="ftp"/>
			<xs:enumeration value="https"/>
			<xs:enumeration value="idoc"/>
			<xs:enumeration value="jms"/>
			<xs:enumeration value="kafka"/>
			<xs:enumeration value="mail"/>
			<xs:enumeration value="odata"/>
			<xs:enumeration value="processdirect"/>
			<xs:enumeration value="sftp"/>
			<xs:enumeration value="soap"/>
			<xs:enumeration value="successfactors"/>
			<xs:enumeration value="xi"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="allowedSenderAdaptersType">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="allow" type="senderAdaptersType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="disallowedSenderAdaptersType">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="disallow" type="senderAdaptersType"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Types for rule XsltVersions -->

	<xs:simpleType name="xsltVersionsType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1.0"/>
			<xs:enumeration value="2.0"/>
			<xs:enumeration value="3.0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="allowedXsltVersionsType">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="allow" type="xsltVersionsType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="disallowedXsltVersionsType">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="disallow" type="xsltVersionsType"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Types for rule MappingTypes -->

	<xs:simpleType name="mappingTypesType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="message-mapping"/>
			<xs:enumeration value="operation-mapping"/>
			<xs:enumeration value="xslt-mapping"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="allowedMappingTypesType">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="allow" type="mappingTypesType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="disallowedMappingTypesType">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="disallow" type="mappingTypesType"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Types for rule JavaArchives -->

	<xs:complexType name="allowedJavaArchivesType">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="allow" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="disallowedJavaArchivesType">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="disallow" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Types for rule DuplicateResourcesNotAllowed -->

	<xs:simpleType name="resourcesType">
			<xs:restriction base="xs:string">
				<xs:enumeration value="message-mapping"/>
				<xs:enumeration value="xslt-mapping"/>
				<xs:enumeration value="operation-mapping"/>
				<xs:enumeration value="javascript-script"/>
				<xs:enumeration value="groovy-script"/>
				<xs:enumeration value="java-archive"/>
				<xs:enumeration value="integration-flow"/>
				<xs:enumeration value="edmx"/>
				<xs:enumeration value="wsdl"/>
				<xs:enumeration value="xml-schema"/>
			</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="duplicateResourcesType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="resource-type" type="resourcesType"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Types for rule Naming -->
	
	<xs:complexType name="namingType">
		<xs:sequence>
			<xs:element name="scheme" type="schemeTypeSingle"/>
			<xs:element name="message" type="xs:string"/>
			<xs:element name="apply-to" type="nameableType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="nameableType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="iflow.name"/>
			<xs:enumeration value="iflow.id"/>
			<xs:enumeration value="channel.name"/>
			<xs:enumeration value="sender-channel.name"/>
			<xs:enumeration value="amqp-sender-channel.name"/>
			<xs:enumeration value="ariba-sender-channel.name"/>
			<xs:enumeration value="as2-sender-channel.name"/>
			<xs:enumeration value="as4-sender-channel.name"/>
			<xs:enumeration value="ftp-sender-channel.name"/>
			<xs:enumeration value="https-sender-channel.name"/>
			<xs:enumeration value="idoc-sender-channel.name"/>
			<xs:enumeration value="jms-sender-channel.name"/>
			<xs:enumeration value="kafka-sender-channel.name"/>
			<xs:enumeration value="mail-sender-channel.name"/>
			<xs:enumeration value="odata-sender-channel.name"/>
			<xs:enumeration value="processdirect-sender-channel.name"/>
			<xs:enumeration value="sftp-sender-channel.name"/>
			<xs:enumeration value="soap-sender-channel.name"/>
			<xs:enumeration value="successfactors-sender-channel.name"/>
			<xs:enumeration value="xi-sender-channel.name"/>
			<xs:enumeration value="receiver-channel.name"/>
			<xs:enumeration value="amqp-receiver-channel.name"/>
			<xs:enumeration value="ariba-receiver-channel.name"/>
			<xs:enumeration value="as2-receiver-channel.name"/>
			<xs:enumeration value="as4-receiver-channel.name"/>
			<xs:enumeration value="elster-receiver-channel.name"/>
			<xs:enumeration value="facebook-receiver-channel.name"/>
			<xs:enumeration value="ftp-receiver-channel.name"/>
			<xs:enumeration value="odata-receiver-channel.name"/>
			<xs:enumeration value="http-receiver-channel.name"/>
			<xs:enumeration value="idoc-receiver-channel.name"/>
			<xs:enumeration value="jdbc-receiver-channel.name"/>
			<xs:enumeration value="jms-receiver-channel.name"/>
			<xs:enumeration value="kafka-receiver-channel.name"/>
			<xs:enumeration value="ldap-receiver-channel.name"/>
			<xs:enumeration value="mail-receiver-channel.name"/>
			<xs:enumeration value="odc-receiver-channel.name"/>
			<xs:enumeration value="openconnectors-receiver-channel.name"/>
			<xs:enumeration value="processdirect-receiver-channel.name"/>
			<xs:enumeration value="rfc-receiver-channel.name"/>
			<xs:enumeration value="sftp-receiver-channel.name"/>
			<xs:enumeration value="soap-receiver-channel.name"/>
			<xs:enumeration value="successfactors-receiver-channel.name"/>
			<xs:enumeration value="twitter-receiver-channel.name"/>
			<xs:enumeration value="xi-receiver-channel.name"/>
			<xs:enumeration value="mapping.name"/>
			<xs:enumeration value="message-mapping.name"/>
			<xs:enumeration value="xslt-mapping.name"/>
			<xs:enumeration value="operation-mapping.name"/>
			<xs:enumeration value="script.name"/>
			<xs:enumeration value="groovy-script.name"/>
			<xs:enumeration value="js-script.name"/>
			<xs:enumeration value="sender.name"/>
			<xs:enumeration value="receiver.name"/>
			<xs:enumeration value="content-modifier.name"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:group name="schemeGroup">
		<xs:choice>
			<xs:element name="starts-with" type="xs:string"/>
			<xs:element name="ends-with" type="xs:string"/>
			<xs:element name="equals" type="equalsSchemeType"/>
			<xs:element name="regex" type="xs:string"/>
			<xs:element name="not" type="schemeTypeSingle"/>
			<xs:element name="and" type="schemeTypeMultiple"/>
			<xs:element name="or" type="schemeTypeMultiple"/>
		</xs:choice>
	</xs:group>
	
	<xs:complexType name="schemeTypeSingle">
		<xs:group ref="schemeGroup"/>
	</xs:complexType>
	
	<xs:complexType name="schemeTypeMultiple">
		<xs:group ref="schemeGroup" maxOccurs="unbounded"/>
	</xs:complexType>
	
	<xs:complexType name="equalsSchemeType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="ignore-case" use="optional">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="yes"/>
							<xs:enumeration value="no"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

</xs:schema>